<div class="container">
  <ng-container [formGroup]="team1Form">
    <div class="form-group">
      <label>team 1</label>
      <select class="form-control" formControlName="team1">
        <option>Choose 1st team</option>
        <option *ngFor="let team of teams" [ngValue]="team" (change)="changeTeam($event)">{{team.arc}}
      </option>
      </select>
    </div>

    <div class="form-group">
      <label>toss</label>
      <select class="form-control" formControlName="toss">
        <option>win</option>
        <option>loss</option>
      </select>
    </div>

    <div class="form-group">
      <label>innings</label>
      <select class="form-control" formControlName="innings">
        <option>1st</option>
        <option>2nd</option>
      </select>
    </div>

    <div class="form-row" formGroupName="score">
      <div class="form-group col-md-4">
        <label>Runs</label>
        <input type="text" class="form-control" formControlName="runs">
      </div>
      <div class="form-group col-md-4">
        <label>overs</label>
        <input type="text" class="form-control" formControlName="overs">
      </div>
      <div class="form-group col-md-4">
        <label>Wickets</label>
        <input type="text" class="form-control" formControlName="wickets">
      </div>
    </div>


  </ng-container>


</div>