<h1 style="text-align: center;">New Match</h1>
<div class="container">
    <form [formGroup]="matchForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <app-match-team1 formControlName="team1Form" [teams]="teams"></app-match-team1>
            </div>
            <div class="form-group col-md-6">
                <app-match-team2 formControlName="team2Form" [teams]="teams"></app-match-team2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>win</label>
                    <select class="form-control" formControlName="win">
                        <option>team1</option>
                        <option>team2</option>
                        <option>draw</option>
                    </select>
                </div>

            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>